q{
    
    
    font-size: 3.2em;
     
    font-weight: bold;
    margin-left: ;
    text-align: center;
    
    
}
img{
    
    margin: 0;
    display:inline;

    
    width: 300px;
    
    
}
.main{
    display:flex;
    align-items: center;
    flex-direction: column-reverse;
    
}
.main-sub input{
    display:block;
    align-items: center;

    
}
.input1{
    display: flex;
    align-items: center;
}
.input1 input{
    margin-right: 5px;
    height: 25px;
    width: 200px;
    border-radius: 5px;

}
.button1 button{
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor:pointer;
    height: 30px;

}
.input1 button{
    cursor: pointer;
}
.button1 button:hover{
    background-color: brown;
}
.input1{
    margin-top: 20px;
}
